<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppiumTest" >
    <listeners>
        <listener class-name="com.calendar.utils.Listeners.TestListeners"/>
        <listener class-name="com.calendar.utils.Listeners.AnnotationTransformer"/>
    </listeners>
 
    <test name="VerifyTitle">
    <!-- to run bu class name -->
        <classes>
            <class name="com.calendar.test.VerifyTitle"/>
        </classes>
    </test>
    <!-- <test name="AddEvent">
        <classes>
            <class name="com.calendar.test.AddEvent"/>
        </classes> -->
        <!-- If there are many packages with tests that all need to be executed, rather than listing all package names individually,
         we can use regular expression to include all packages -->
        <!-- <packages>
      <package name=".*" />
    </packages> -->
    <!-- to run with packages -->
    <!-- <packages>
            <package name="com.calendar.test"/>
            <package name="com.testingexcellence.tests.api"/>
        </packages> --> 
   <!--  </test> -->
</suite>